{
	"extends": ["eslint:recommended", "plugin:react/recommended"],
	"parser": "@typescript-eslint/parser",
	"rules": {
		"@typescript-eslint/no-unused-vars": "warn",
		"no-console": "warn",
		"react/react-in-jsx-scope": "off",
		"react-hooks/exhaustive-deps": "off",
		"no-undef": "off",
		"no-unused-vars": "warn",
		"no-constant-condition": "off",
		"react/display-name": "off",
		"react/no-unescaped-entities": "off",
		"no-mixed-spaces-and-tabs": "off"
	},
	"plugins": ["@typescript-eslint"]
}
